<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>vnStat Daemon</title>
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<figure>{{- vnstati "vsummary" -}}</figure>
<figure>{{- vnstati "5min-graph" -}}</figure>
<figure>{{- vnstati "daily" -}}</figure>
<figure>{{- vnstati "monthly" -}}</figure>
<figure>{{- vnstati "yearly" -}}</figure>
<script>
function reloadImages() {
    for (const image of document.images) {
        image.replaceWith(image.cloneNode(true));
    }
}

setInterval(reloadImages, 300_000);
</script>
</body>
</html>